@import '/src/sass/colors.scss';

.OrdersTable {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);

  .MuiTablePagination-root {
    .MuiTablePagination-caption, .MuiTablePagination-input, .MuiButtonBase-root {
      color: $purple-light;
      font-weight: 600;
    }
  }
}
