
.TableHead {
  .TableHead {
    // font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    
    letter-spacing: 0.05em;
    text-transform: uppercase;
      
    color: #6E6893;
  }
}

.Mui-selected {
  .MuiTab-wrapper {
    // font-family: Inter;
    color: #25213B;
  }
}

.MuiTab-wrapper {
  // font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  
  color: #6E6893;
}
