@import '/src/sass/colors.scss';

.TableHead {
  .TableHead {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    
    letter-spacing: 0.05em;
    text-transform: uppercase;
      
    color: $purple-light;
    
    .MuiTableSortLabel-active {
      color: $purple-light;
    }
  }
}
